<div class="container" align="center">
  <div id="home-title">
    <h1> Recherche d'emploi</h1>
    <h3>Trouver l'emploi de vos rêves</h3>
  </div>

  <!-- FORMULAIRE DE RECHERCHE-->
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="search-column1">
        <input type="text" matInput placeholder="Quoi ?" id="title" formControlName="title" name="title">
      </div>

      <div class="search-column2">
        <input type="text" matInput placeholder="Ville, Pays, ..." id="city" formControlName="city" name="city">
      </div>

      <div class="search-column3">
        <button mat-raised-button color="primary" (click)=search()>Search</button>
      </div>
    </div>
  </form>

  <!--POSITIONNEMENT DE LA CAROUSSELLE CONTENANT LES ENTREPRISES-->
  <div class="carousel">
    <h2 style="padding-bottom: 3%;">Ces entreprises nous ont fait confiance</h2>
    <ngx-carousel [inputs]="countryCarousel" (carouselLoad)="carouselTile()">
      <ngx-tile NgxCarouselItem *ngFor="let tile of countryCarouselItems; let i = index;">
        <div class="image-tile" [style.background]="'url(' + tile + ')'">
          <h1>{{i}}</h1>
        </div>
        <h4>Nom</h4>
        <p>À VOIR</p>
      </ngx-tile>
      <button NgxCarouselPrev mat-mini-fab class="button-left" color="primary"><i class="material-icons"> navigate_before </i></button>
      <button NgxCarouselNext mat-mini-fab class="button-right" color="primary"> <i class="material-icons"> navigate_next </i></button>
    </ngx-carousel>
  </div>
</div>