
<div id="container" align="center">
    <div id="topbar"> 
      <h1> Laissez les jobs vous chasser </h1>            
    </div>
    <form>
        <div class="search-container">
          <div class="call-out">
            <input type="text" class="taille-champs" placeholder="Quoi ? Java, Angular, ...">
          </div>
    
          <div class="call-out">
            <mat-select placeholder="Pays" class="taille-pays">
              <mat-option *ngFor="let pays of tousLesPays" [value]="pays.codePays">
                {{ pays.nomPays }}
              </mat-option>
            </mat-select>
          </div>
          <div class="call-out">
            <input type="text" class="taille-champs" placeholder="Où ? Ville, Pays">
          </div>
        </div>
        <button mat-button>Rechercher</button>
      </form>
</div>


