.container {
    width: 80%;
  }

  #home-title {
    padding-top: 5%;
    padding-bottom: 3%;
  }

  .search-button{
    padding: 5px 15px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .search-column1 {
    float: left;
    width: 45%;
    padding: 10px;
  }
  
  .search-column2 {
    float: left;
    width: 45%;
    padding: 10px;
  }
  
  .search-column3 {
    float: left;
    width: 10%;
    padding: 10px;
  }



/* CAROUSELLE CSS */
.image-tile {
  min-height: 200px;
  background-color: #ccc;
  background-size: cover !important;
}

.image-tile h1 {
  text-align: center;
  line-height: 200px;
  background: rgba(0, 0, 0, 0.32);
  color: white;
  margin: 0;
}

.button-left {
  position: absolute;
  border-radius: 99px!important;
  margin: auto;
  top: -65px;
  bottom: 0;
  width: 40px;
  height: 40px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  left: -60px;
}

.button-right {
  position: absolute;
  border-radius: 99px!important;
  margin: auto;
  top: -65px;
  bottom: 0;
  width: 40px;
  height: 40px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  right: -60px;
}

.carousel {
  padding-top: 5%;
}