<div>
  <h3>Créer votre entreprise</h3>
     <hr>
 <form [formGroup]="formGroup" (ngSubmit)="creerOuModifierEntreprise(formEntreprise.value)" #formEntreprise="ngForm">
   <mat-horizontal-stepper formArrayName="formArray" [linear]="true" #stepper="matHorizontalStepper">
     <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
       <ng-template matStepLabel>Votre entreprise</ng-template>
       <div class="itemEntreprise">
          <label><b>Nom* : </b></label>
          <input type="text" placeholder="nom de l'entreprise" formControlName="nomEntreprise" required><br/>
          <label><b>Adresse : </b></label>
          <input type="text" placeholder="Adresse de l'entreprise" formControlName="adresseEntreprise" required><br/>
          <label><b>Telephone : </b></label>
          <input type="text" placeholder="Telephone de l'entreprise" formControlName="telephoneEntreprise" required><br/>
          <label><b>Email : </b></label>
          <input type="text" placeholder="Mail de l'entreprise" formControlName="mailEntreprise" required><br/>
          <label><b>Url : </b></label>
          <input type="text" placeholder="Mail de l'entreprise" formControlName="urlEntreprise" required>     
        </div> 
       <div>
         <button type="button" class="button-suivant" mat-button matStepperNext>Suivant</button>
       </div>
     </mat-step>
 
     <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
       <ng-template matStepLabel>Description</ng-template>
       <div>
          <label>Logo : </label>
          <input type="file" accept="image/png, image/jpeg" formControlName="logoEntreprise">    
       </div>
       <div>
          <mat-form-field>
            <mat-select class="field-size" placeholder="Secteur d'activités" formControlName="activiteEntreprise" required>
              <mat-option *ngFor="let secteurActivite of secteurActivites" [value]="secteurActivite">
                  {{secteurActivite}}
              </mat-option>
            </mat-select>
          </mat-form-field>
       </div>
       <div>
          <label>Description de l'entreprise</label>
          <textarea rows="10" maxlength="500" class="text-area-width" formControlName="descriptionEntreprise"
                placeholder="Description de l'entreprise" required>
          </textarea>
       </div>
       <div>
         <button type="button" class="button-precedent" mat-button matStepperPrevious>Précédent</button>
         <button  type="button" class="button-suivant" mat-button matStepperNext>Suivant</button>
       </div>
     </mat-step>
 
     <mat-step>
       <ng-template matStepLabel>récapitulatif</ng-template>
       Everything seems correct.
       <div>
          <button type="button" class="button-precedent" mat-button matStepperPrevious>Précédent</button>
          <button type="button" mat-button (click)="stepper.reset()">Annuler</button>
          <button type="submit" class="button-suivant" mat-button>Valider</button>         
       </div>
     </mat-step>
   </mat-horizontal-stepper>
 </form>
 </div>
