<div class="container">

  <h2 align="center">L'ensemble de toutes nos offres</h2>

  <div class="row">
    <div class="column1">
      sdfqsdfsq
    </div>

    <div class="column2">
      <div *ngFor="let offre of offreList">
        <app-offre-item [offre]="offre"></app-offre-item>
      </div>
    </div>
  </div>

  <div align="center">
    <div class="pagination paginator">
      <a [routerLink]="['/offres/page/', currentPage-1]" [hidden]="currentPage==1">&laquo;</a>
      <a *ngFor="let page of pages" [routerLink]="['/offres/page/', page]" [ngClass]="{active:currentPage === page}">{{page}}</a>
      <a [routerLink]="['/offres/page/', currentPage+1]" [hidden]="currentPage==totalPages">&raquo;</a>
    </div>
  </div>
</div>