.container {
  width: 80%;
}

.pagination {
  display: inline-block;
}

.paginator {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.search-column1 {
  float: left;
  width: 45%;
  padding: 10px;
}

.search-column2 {
  float: left;
  width: 45%;
  padding: 10px;
}

.search-column3 {
  float: left;
  width: 10%;
  padding: 10px;
}

.column1 {
  float: left;
  width: 25%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 75%;
  padding: 10px;
}

/* SELECTION ET DÉSELECTION DES SPÉCIALISATIONS */
.button-filters {
  border-radius: 1em;
  padding: .1em 1.08em !important;
  border: 1px solid #b6b6b6;
  color: black !important;
  margin-right: .4em;
  margin-bottom: .4em;
  text-shadow: none;
  background-color: white;
}

.select-specialisation {
  background-color: #cccccc;
}

.unselect-specialisation {
  background-color: white;
}

/* COLONNE DES FILTRES*/
.filters-column {
  border: 1px solid #0B2161;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 4px 0;
}

.filters-column::after {
  content: "";
  clear: both;
  width: 100%;
  display: table;
}

.search-button{
  padding: 5px 15px;
}