<div class="container" *ngIf="contractType">

  <h2 align="center">L'ensemble de toutes nos offres</h2>

  <form [formGroup]="searchForm">
    <div class="row">
      <div class="search-column1">
      <input type="text" matInput placeholder="Quoi ?" id="title" formControlName="title" name="title">
      </div>

      <div class="search-column2">
      <input type="text" matInput placeholder="Ville" id="city" formControlName="city" name="city">
      </div>

      <div class="search-column3">
          <button  mat-raised-button color="primary" (click)=search()>Search</button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="column1">
      <div class="filters-column">
        <h3>Filtrer vos offres</h3>
        <p>Type de contrat</p>
        <button *ngFor="let contract of contractType; let i=index" (click)="clickEvent(i)" class="button-filters"
          [ngClass]="contract.selected ? 'select-specialisation' : 'unselect-specialisation'">
          {{contract.name}}
        </button>
      </div>

      <div class="filters-column">
        <p>Spécialisation</p>
        <button *ngFor="let spec of specialisations; let i=index" (click)="clickSpecialisationEvent(i)" class="button-filters"
          [ngClass]="spec.selected ? 'select-specialisation' : 'unselect-specialisation'">
          {{spec.name}}
        </button>
      </div>
    </div>

    <div class="column2">
      <div *ngFor="let offre of offreList">
        <app-offre-item [offre]="offre"></app-offre-item>
      </div>
    </div>
  </div>

  <div align="center">
    <div class="pagination paginator">
      <a [routerLink]="['/offres/page/', currentPage-1]" [hidden]="currentPage==1">&laquo;</a>
      <a *ngFor="let page of pages" [routerLink]="['/offres/page/', page]" [ngClass]="{active:currentPage === page}">{{page}}</a>
      <a [routerLink]="['/offres/page/', currentPage+1]" [hidden]="currentPage==totalPages">&raquo;</a>
    </div>
  </div>
</div>