<div class="container">

  <h2 align="center">L'ensemble de toutes nos offres</h2>
  <div *ngFor="let offre of offreList">
    <app-offre-item [offre]="offre"></app-offre-item>
  </div>

  <div align="center">
    <div class="pagination paginator">
      <a [routerLink]="['/offres/page/', currentPage-1]" [hidden]="currentPage==1">&laquo;</a>
      <!-- <a [routerLink]="['/offres/page/1']" [hidden]="currentPage==1">First</a> -->
      <a *ngFor="let page of pages" [routerLink]="['/offres/page/', page]" [ngClass]="{active:currentPage === page}">{{page}}</a>
      <!-- <a [routerLink]="['/offres/page/', totalPages]" [hidden]="currentPage==totalPages">Last</a> -->
      <a [routerLink]="['/offres/page/', currentPage+1]" [hidden]="currentPage==totalPages">&raquo;</a>
    </div>
  </div>
</div>
