.bt_editable  {
  text-align: center;
}
.flex-container{
  resize: horizontal;
  overflow: hidden;
  display: flex;
  margin: 1em;
  height: 100%;
}

.flex-div{
  width: 100%;
  min-width: 0;
  font-family: monospace;
  height: 100%;
}

.auto {
  flex: auto;
  align-items: center;
}

.one {
  width: 40%;
}
.div-scroll{
  overflow-y: scroll;
  height: 600px;
  border-style: solid;
  border-color: gray;
}

.titreProfil{
  text-align: center;
}

.elements_inline {
  display:inline-block;
  margin: 5px;
}

.elements_inline select {
  border-style: none;
}

.edit_conditons {
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-slider {
  width: 300px;
}




