<div *ngIf="loaded | async">
  <div class="bt_editable">
    <button (click)="enregister()"> 
        <i class="fa fa-edit none fa-3x" (click)="edider()">
            <span *ngIf="!isEdit">Modifier</span>
            <span *ngIf="isEdit">Enregister</span>
      </i>
    </button>         
  </div>
  <div class="flex-container">
    <div class="flex-div one">
          <form [formGroup]="candidatForm" class="form-wrapper">
            <div class="fullItem">
              <label for="nom">Nom</label>
              <input type='text' [disabled]="!(isEdit)" formControlName="nom" id="nom" required/>
            </div>
            <div class="fullItem">
              <label for="prenom">Prenom</label>
              <input type='text' [disabled]="!(isEdit)" formControlName="prenom" id="prenom" required/>
            </div>
            <div class="fullItem">
                <i class="fa fa-envelope fa-2x">
                    <input type='email' formControlName="email"required/>
                </i>              
            </div>
            <div class="fullItem">
                <i class="fa fa-phone fa-2x">
                    <input type="text" formControlName="telephone" required/>
                </i>                 
            </div>
            <div class="fullItem">
                <i class="fa fa-graduation-cap fa-2x">
                    <select formControlName="anneesEtudes">
                        <option value="0">Bac</option>
                        <option value="1">Bac+1</option>
                        <option value="2">Bac+2</option>
                        <option value="3">Bac+3</option>
                        <option value="4">Bac+4</option>
                        <option value="5">Bac+5</option>
                        <option value="6">Sup bac+5</option>
                      </select>
                </i>
            </div>
            <div class="fullItem">
              <i class="fa fa-suitcase fa-2x">
                <select formControlName="anneesExperiences">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">+5</option>
                  <option value="7">+10</option>
                </select>
              </i>
            </div>
            <div class="fullItem">
              <p><mat-checkbox formControlName="cdi">CDI</mat-checkbox></p>
              <p><mat-checkbox formControlName="cdd">CDD</mat-checkbox></p>
              <p><mat-checkbox formControlName="freelance">Freelance</mat-checkbox></p>
              <p><mat-checkbox formControlName="professionnalisation">Contrat d'apprentissage</mat-checkbox></p>
              <p><mat-checkbox formControlName="aprentissage">Contrat de professionnalisation</mat-checkbox></p>
              <p><mat-checkbox formControlName="interim">Interim</mat-checkbox></p>
              <p><mat-checkbox formControlName="stage">Stage</mat-checkbox></p>
            </div>
            <div class="fullItem">
                <i class="fa fa-money fa-2x">
                  {{candidat.salaire}}K
                </i>
                <mat-slider thumbLabel tickInterval="auto" formControlName="salaire"
                      [(ngModel)]="candidat.salaire"
                      thumbLabel  
                      min="1"
                      max="100"
                      >                    
               </mat-slider>
            </div>
            <div class="fullItem">
              <i class="fa fa-home fa-2x"></i> 
              <mat-checkbox formControlName="relocalisation">je suis prés à demenager</mat-checkbox>
            </div>
          </form>
    </div>
    <div class="flex-div auto">
      <form>
        <div class="fullItem">
              <label>Telecharger votre CV...</label>
              <input (change)="onFileSelected($event)" type="file" id="id_load_file_candidat">
        </div>
        <div *ngIf="pdfSrc" class="div-scroll">
          <pdf-viewer [src]="pdfSrc" 
              [render-text]="true"
              style="display: block;"
          ></pdf-viewer>
        </div>  
      </form>               
    </div>
  </div>
</div>
  