<div class="container">
  <!-- <div class="new-offer">New</div> -->
  <h3><a routerLink="/offres/{{offre.id}}">{{offre.titre}}</a></h3>
  <h4>Chez {{entrepriseName | uppercase}}</h4>

  {{offre.description | truncate}}

  <span class="offer-element">
    <i class="material-icons"> border_color </i>{{offre.type}}
    <i class="material-icons icon-position"> sentiment_satisfied_alt </i>{{offre.specialisation}}
    <i class="material-icons icon-position"> visibility </i> {{offre.secteurActivite}}
    <i class="material-icons icon-position"> location_on </i> {{offre.lieu}}
  </span>
</div>