.container {
  border: 1px solid #0B2161;
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.offer-element {
  float: left;
  width: 100%;
}

.icon-position {
  margin-left: 5%;
}

/* visited link */
a:visited {
  color: black;
}

a:hover {
  color: rgb(95, 75, 117);
}

a {
  color: rgb(79, 79, 180);
}

.new-offer {
  width:  60px;
  background: #ccc;
  position: relative;
  top: 8px;
  right:  -27px;
  float: right;
  transform: rotate(45deg);
  text-align: center;
  line-height: 15px;
  font-size: .85em;
  letter-spacing: 1px;
  color: #e43;
}