<!--
<div>
    <h2>Nom entreprise</h2>
    <hr>
    <div>
    	<form [formGroup]="entrepriseFormGroup">
        <div>
          <input type="text" id="nomEntreprise" placeholder="nom de l'entreprise" name="nomEntreprise" required>
          <input type="text" id="Adresse" placeholder="Adresse" name="adresseEntreprise" required>
          <button>Chercher</button>
        </div>
    	</form>
    </div>
    <div class="flex-container">
      <div class="flex-div one">
        <h3>Mes offres</h3>
        <div class="div-scroll">
          <div class="description" *ngFor="let offre of offresByEntreprise">
            <h5>{{ offre.titre }} {{offre.specialisation}} {{offre.typeDesContrats}}</h5>
            <div>
                <a href="#">Détails</a>
            </div>
          </div>
        </div>
        <div>
          <form>
              <button>Proposer offre</button>
          </form>
        </div>
      </div>
      <div class="flex-div one">
        <h3>Abonnement</h3>
        <div class="div-scroll">
          <div class="abonnement">
          		<div>
            		<h5>{{abonnementByEntreprise.nom}}</h5>
            		<p>{{abonnementByEntreprise.description}}</p>
          		</div>
          </div>
        </div>
        <div>
            <form>
              <button>Souscrire un abonnement</button>
            </form>
        </div>
      </div>
      <div class="flex-div one">
        <h3>Candidats</h3>
        <div class="div-scroll">
          <div class="description" *ngFor="let candidat of candidatsByEntreprise">
            <h5>{{ candidat.nom }} {{candidat.prenom}}</h5>
            <div>
              <p>{{candidat.profil}}</p>
              <a href="#">Voir profil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
-->
