<div>
    <h3>Nom entreprise</h3>
    <hr>
    <div>
    	<form [formGroup]="entrepriseFormGroup">
        <div class="itemEntreprise">
          <input type="text" id="nomEntreprise" placeholder="nom de l'entreprise" name="nomEntreprise" required>
          <input type="text" id="Adresse" placeholder="Adresse" name="adresseEntreprise" required>
          <button>Chercher</button>     
        </div>      
    	</form>
    </div>
    <div class="flex-container">
      <div class="flex-div one">Mes offres</div>
      <div class="flex-div one">Abonnement</div>
      <div class="flex-div one">Candidats</div>
    </div>
</div>>
