<div class="container">
  <h1>Créer un compte</h1>

  <form [formGroup]="candidatForm">
    <label for="nom"><b>Nom</b></label> <br>
    <input type="text" matInput placeholder="Nom" formControlName="nom" id="nom" required name="nom">

    <br>
    <label for="prenom"><b>Prenom</b></label> <br>
    <input type="text" matInput placeholder="Prenom" formControlName="prenom" id="prenom" required name="prenom">

    <br>
    <label for="email"><b>Email</b></label> <br>
    <input type="email" matInput placeholder="Email" formControlName="email" id="email" required name="email">

    <br>
    <label for="telephone"><b>Telephone</b></label> <br>
    <input type="telephone" matInput placeholder="Telephone" formControlName="telephone" id="telephone" required
           name="telephone">
    <br>
    <button type="submit" mat-raised-button
            (click)="create(candidatForm.value)">Créer</button>
  </form>
</div>
