.separation-toolbar {
  flex: 0 0 7%;
}

.mat-toolbar {
  position: fixed;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 1;
}

.separation-fin{
  flex: 1 1 auto;
}

.separation-offres-entreprises{
  flex: 0 0 5%;
}

.separation-job-resaux{
  flex: 0 0 4%;
}
