<mat-toolbar id="mat-toolbar">
  <mat-toolbar-row class="container">
    <span class="separation-toolbar"></span>
    <h1><a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Hunter job</a></h1>

    <span class="separation-fin"></span>

    <a routerLink="/offres" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><span>  Nos Offres</span></a>
    <span class="separation-toolbar"></span>

    <a routerLink="candidats/signIn" [routerLinkActive]="['active']"><span>Connexion</span></a>
    <span class="separation-toolbar"></span>

    <a routerLink="/candidats/signUp" [routerLinkActive]="['active']"><span>Inscription</span></a>
    <span class="separation-toolbar"></span>

    <a routerLink="/entreprises/new" [routerLinkActive]="['active']"><span>Entreprises</span></a>
    <span class="separation-toolbar"></span>

    <a routerLink="/offres/creer" [routerLinkActive]="['active']"><span>Créer Offre</span></a>
    <span class="separation-toolbar"></span>

  </mat-toolbar-row>
</mat-toolbar>
