<div class="container">
  <h3>Proposition d'une offre</h3>
  <hr>

  <div class="row">
    <div class="column"></div>
    <div class="column">
      Chosissez un métier
    </div>
    <div class="column">
      <mat-select placeholder="Selectionnner un métier" class="field-size" [(value)]="selectedProfession">
        <mat-option *ngFor="let profession of professions" [value]="profession">
          {{ profession }}
        </mat-option>
      </mat-select>
    </div>
    <div class="column"></div>
  </div>
</div>

<!--AFFICHAGE DU FORMULAIRE DU MÉTIER CHOISI-->

<div class="container">
  <div *ngIf="selectedProfession=='Informatique'; then computerScience else others"></div>

 <!-- AFFICHAGE DU FORMULAIRE DE L'INFORMATIQUE-->
  <ng-template #computerScience>
    <app-computer-science></app-computer-science>
  </ng-template>

  <!--AFFICHAGE DU FORMULAIRE DES AUTRES MÉTIERS-->
  <ng-template #others>
    <app-others-profession [profession]="selectedProfession"></app-others-profession>
  </ng-template>
</div>
