.acceuil-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 3px;
  }

  #container{width:880px; margin:0 auto;}

  .taille-champs{
    width: 300px!important;
  }

  #topbar{
    width:auto; 
    display:block; 
    height:80px!important;
  }
  #main{
    width:auto; 
    display:block;
  }

  form {
    display: block;
    margin-top: 0em;
}

  #colonne_gauche{width:250px!important; margin-right:20px; float:left;}
  #colonne_droite{width:560px; float:left;}

  