<div class="acceuil-container">
  <mat-card-content>
    <form >
      <table>
        <tr>
          <td>
             <mat-form-field>
               <input matInput placeholder="Quoi ? Java, Angular, ..." value="Sushi">
             </mat-form-field>
          </td>
          <td>
             <mat-form-field>
               <input matInput placeholder="Où ? , Ville, Pays" value="Sushi">
             </mat-form-field>
          </td>
          <td>
             <button mat-button>Rechercher</button>
          </td>
        </tr>
      </table>                                 
    </form> 
  </mat-card-content> 
</div>
