<div class="footer">
  <div class="footer-line">
    <div class="footer-column">
      <p>
        © 2018 Copyright: Hunterjob<br>
        © 2018 Copyright: Hunterjob<br>
        © 2018 Copyright: Hunterjob<br>
      </p>
    </div>

    <div class="footer-column">
      Principales mentions legales <br>
      Principales mentions legales <br>
      Principales mentions legales <br>
    </div>

    <div class="footer-column">
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
    </div>

    <div class="footer-column">
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
    </div>
  </div>

  <!--POSITIONNEMENT DES LOGOS DES RESEAUX SOCIAUX-->
  <div class="footer-line">
    <div class="footer-column"></div>

    <div class="footer-column">
      <label><strong>Réjoignez nous sur les réseaux sociaux</strong></label><br>
      <a target="_blank" rel="noopener" href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google-plus"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-telegram"></a>
    </div>
      <div class="footer-column"></div>
  </div>
</div>
