.column-container {
  max-width: 1400px;
  margin: auto;
}

.column-out {
  padding: 0px;
  box-sizing: border-box;
  /* margin-bottom: 10px;*/
  flex-basis: 49%;
}

@media (min-width: 900px) {
  .column-container {
    display: flex;
    justify-content: space-between;
  }
}

.column-out:nth-child(1) {
  background-color: white;
}

.column-out:nth-child(2) {
  background-color: white;
}

ul  {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  background: #b6b6b6;
  margin: 5px;
  padding: 5px;
}

.text-area-width {
  width: 100%;
}
