<label>Secteur d'activité</label>

<div class="column-container">
  <div class="column-out">
    <label>type 1 .... </label>
    <mat-radio-group [(ngModel)]="labelPosition">
      <ul>
        <li>
          <mat-radio-button value="after">Aéronotique</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="before">Télécommunication</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="after">Santé</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="before">Banque & Finance & Assurance</mat-radio-button>
        </li>
      </ul>
    </mat-radio-group>
  </div>

  <div class="column-out">
    <label>type 2 .... </label>
    <mat-radio-group [(ngModel)]="labelPosition">
      <ul>
        <li>
          <mat-radio-button value="after">Jeux Vidéo</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="before">Industrie</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="after">Énergie</mat-radio-button>
        </li>
        <li>
          <mat-radio-button value="before">Sécurité</mat-radio-button>
        </li>
      </ul>
    </mat-radio-group>
  </div>
</div>

<label>Lieu</label>
<input type="text" matInput class="taille-champs" placeholder="Lieu" [matAutocomplete]="auto" [formControl]="stateCtrl">
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
    <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
    <span>{{ state.name }}</span>
  </mat-option>
</mat-autocomplete>

<label>Description de l'offre</label>
<textarea rows="10" maxlength="500" class="text-area-width" placeholder="Description de l'offre"></textarea>

