<div>
  <h1>Voici nos différentes offres</h1>
</div>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="5">

    <!-- PRIEMIER CARD-->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Packs 1</mat-card-title>
        <mat-card-subtitle>200 €</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          DESCRIPTION DE L'OFFRE
          DESCRIPTION DE L'OFFRE
          DESCRIPTION DE L'OFFRE
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['../infos-offre']">Choisir</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="5">
    <!--DEUXIEME CARD-->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Packs 2</mat-card-title>
        <mat-card-subtitle>200 €</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          DESCRIPTION DE L'OFFRE
          DESCRIPTION DE L'OFFRE
          DESCRIPTION DE L'OFFRE
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['../infos-offre']">Choisir</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="5">
    <!--TROISIEME CARD-->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Packs 3</mat-card-title>
        <mat-card-subtitle>200 €</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          DESCRIPTION DE L'OFFRE
          DESCRIPTION DE L'OFFRE
          DESCRIPTION DE L'OFFRE
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['../infos-offre']">Choisir</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>>

  <mat-grid-tile [colspan]="1" [rowspan]="5">
    <!--QUATRIÈME CARD-->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Packs 4</mat-card-title>
        <mat-card-subtitle>200 €</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          DESCRIPTION DE L'OFFRE
          DESCRIPTION DE L'OFFRE
          DESCRIPTION DE L'OFFRE
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['../infos-offre']">Choisir</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
