
<label for="title"><b>Titre du poste</b></label>
<input type="text" placeholder="Titre du poste" name="title"  style="width: 70%" required>

<mat-radio-group [(ngModel)]="labelPosition">
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
</mat-radio-group>


<mat-radio-group [(ngModel)]="labelPosition">
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
  <mat-radio-button class="example-margin" value="after">Frontend</mat-radio-button>
  <mat-radio-button class="example-margin" value="before">Backend</mat-radio-button>
</mat-radio-group>

<div>
  <button class="button-competence"> Java EE<i class="fa fa-plus"></i></button>
  <button class="button-competence">JQuery<i class="fa fa-plus"></i> </button>
  <button class="button-competence"><i class="fa fa-plus"></i> Java</button>
  <button class="button-competence"><i class="fa fa-plus"></i> Langage C</button>
</div>

<button>sdfghjkl</button>
