<div class="container mat-elevation-z8" *ngIf="afficher">
  <h2>Détails de l'offre selectionnée</h2>
  <span>
    {{offreSelectionnee.titreOffre}}
  </span>

  <p>
    {{offreSelectionnee.description}}

    Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google
    Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google
    Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1 Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1v Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom entreprise: Google Nom
    entreprise: Google
    desc offre 1
  </p>
</div>
