<div class="footer-color" align="center">
  <div class="search-form">
    <div class="column-search-form">
      <p>
        © 2018 Copyright: Hunterjob <br>
        © 2018 Copyright: Hunterjob <br>
        © 2018 Copyright: Hunterjob<br>
        © 2018 Copyright: Hunterjob<br>
        © 2018 Copyright: Hunterjob<br>
        © 2018 Copyright: Hunterjob<br>
      </p>
    </div>

    <div class="column-search-form">
      Principales mentions legales <br>
      Principales mentions legales <br>
      Principales mentions legales <br>
      Principales mentions legales <br>
      Principales mentions legales <br>
      Principales mentions legales <br>
    </div>

    <div class="column-search-form">
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
    </div>

    <div class="column-search-form">
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
      © 2018 Copyright: Hunterjob<br>
    </div>
  </div>

  <!--POSITIONNEMENT DES LOGOS DES RESEAUX SOCIAUX-->
  <div class="search-form">
    <div class="column-search-form"></div>

    <div class="column-search-form">

      <a target="_blank" rel="noopener" href="google.fr">
        <button mat-mini-fab class="social-button button-principal-color">
          <i class="fa fa-facebook"></i>
        </button>
      </a>

      <a target="_blank" rel="noopener" href="google.fr">
        <button mat-mini-fab class="social-button button-principal-color">
          <i class="fa fa-linkedin"></i>
        </button>
      </a>

      <a target="_blank" rel="noopener" href="google.fr">
        <button mat-mini-fab class="social-button button-principal-color">
          <i class="fa fa-twitter"></i>
        </button>
      </a>

      <a target="_blank" rel="noopener" href="google.fr">
        <button mat-mini-fab class="social-button button-principal-color">
          <i class="fa fa-github"></i>
        </button>
      </a>

      <a target="_blank" rel="noopener" href="google.fr">
        <button mat-mini-fab class="social-button button-principal-color">
          <i class="fa fa-bitbucket"></i>
        </button>
      </a>

      <a target="_blank" rel="noopener" href="https://www.google.fr/">
        <button mat-mini-fab class="social-button button-principal-color ">
          <i class="fa fa-google-plus"></i>
        </button>
      </a>
    </div>
      <div class="column-search-form"></div>
  </div>
</div>
