/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.titre-offre {
  color: darkcyan;
  text-decoration: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
}

body {
  background-color: #e6e7ff;
}

img {
  border-radius: 8px;
}
