<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="detailOffreForm">
    <form [formGroup]="detailOffreForm">
      <ng-template matStepLabel>Détail de l'offre</ng-template>
      <!--FORMULAIRE DU DÉTAIL DE L'OFFRE-->

      <label for="titre"><b>Intitulé du poste</b></label> <br>
      <input type="text" matInput placeholder="Titre du poste" id="titre" formControlName="titre" required
             name="titre" [errorStateMatcher]="matcher">

      <mat-error *ngIf="titre.hasError('required') && submittedNext">
        Le titre est <strong>obligatoire</strong>
      </mat-error>

      <br>

      <label><b>Spécialisation recherchée</b></label>
      <mat-radio-group formControlName="specialisation">
        <div class="column-container">
          <div class="column-out">
            <label>Technique </label>
            <ul>
              <li *ngFor="let spec of specialisations">
                <mat-radio-button value={{spec}}>{{spec}}</mat-radio-button>
              </li>
            </ul>
          </div>

          <div class="column-out">
            <label>Produit</label>
            <ul>
              <li *ngFor="let prod of produit">
                <mat-radio-button value={{prod}}>{{prod}}</mat-radio-button>
              </li>
            </ul>
          </div>
        </div>
      </mat-radio-group>

      <mat-error *ngIf="specialisation.hasError('required') && submittedNext">
        La specialisation est <strong>obligatoire</strong>
      </mat-error>

      <br>
      <label>Compétences réquises</label>
      <br>

      <div>
        <button (click)="clickEvent(1, 'Java')" class="button-competence"
                [ngClass]="status1 ? 'select-competence' : 'unselect-competence'"> Java
        </button>

        <button (click)="clickEvent(2, 'Angular')" class="button-competence"
                [ngClass]="status2 ? 'select-competence' : 'unselect-competence'">
          Angular
        </button>

        <button (click)="clickEvent(3, 'Java EE')" class="button-competence"
                [ngClass]="status3 ? 'select-competence' : 'unselect-competence'"> Java EE
        </button>

        <button (click)="clickEvent(4, 'React')" class="button-competence"
                [ngClass]="status4 ? 'select-competence' : 'unselect-competence'">
          React
        </button>

        <button (click)="clickEvent(5, 'NodeJS')" class="button-competence"
                [ngClass]="status5 ? 'select-competence' : 'unselect-competence'"> NodeJS
        </button>

        <button (click)="clickEvent(6, 'ReactJS')" class="button-competence"
                [ngClass]="status6 ? 'select-competence' : 'unselect-competence'">
          ReactJS
        </button>

        <button (click)="clickEvent(7, 'JavaScript')" class="button-competence"
                [ngClass]="status7 ? 'select-competence' : 'unselect-competence'"> JavaScript
        </button>

        <button (click)="clickEvent(8, 'Langage C')" class="button-competence"
                [ngClass]="status8 ? 'select-competence' : 'unselect-competence'">
          Langage C
        </button>

        <button (click)="clickEvent(9, 'Python')" class="button-competence"
                [ngClass]="status9 ? 'select-competence' : 'unselect-competence'"> Python
        </button>

        <button (click)="clickEvent(10, 'Cobol')" class="button-competence"
                [ngClass]="status10 ? 'select-competence' : 'unselect-competence'">
          Cobol
        </button>
      </div>
      <mat-error *ngIf="skillsList.length == 0 && submittedNext">
        Selectionnez au moins une <strong>compétence</strong>
      </mat-error>
      <br>

      <label>Type de contrat</label>
      <mat-radio-group formControlName="typeDesContrats">
        <div class="column-container">
          <div class="column-out">
            <ul *ngFor="let typeContrat of listeTypeContrat1">
              <li>
                <mat-radio-button value={{typeContrat}}>{{typeContrat}}</mat-radio-button>
              </li>
            </ul>
          </div>

          <div class="column-out">
            <ul *ngFor="let typeContrat of listeTypeContrat2">
              <li>
                <mat-radio-button value={{typeContrat}}>{{typeContrat}}</mat-radio-button>
              </li>
            </ul>
          </div>
        </div>
      </mat-radio-group>

      <mat-error *ngIf="typeDesContrats.hasError('required') && submittedNext">
        Le type de contrat est <strong>obligatoire</strong>
      </mat-error>

      <br>

      <label>Années d'experience</label>
      <input type="range" min="0" max="30" value="0" class="slider"
             formControlName="anneesExperience">

      <mat-error *ngIf="anneesExperience.hasError('required') && submittedNext">
        Le nombre d'année d'experience est <strong>obligatoire</strong>
      </mat-error>
      <div>
        <br>

        <label>Salaire par mois</label>
        <input type="range" min="100000" max="500000" class="slider" formControlName="salaireParMois">
      </div>
      <mat-error *ngIf="salaireParMois.hasError('required') && submittedNext">
        Le salaire est <strong>obligatoire</strong>
      </mat-error>

      <div>
        <button mat-button matStepperNext style="float: right;" (click)="submittedNext=true;">Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="descriptionOffreForm">
    <form [formGroup]="descriptionOffreForm">
      <ng-template matStepLabel>Description de l'offre</ng-template>

      <!-- DESCRIPTION DE L'OFFRE-->
      <label>Secteur d'activité</label>

      <mat-radio-group formControlName="secteur">
        <div class="column-container">
          <div class="column-out">
            <ul *ngFor="let domaine of domaine1">
              <li>
                <mat-radio-button value="{{domaine}}">{{domaine}}</mat-radio-button>
              </li>
            </ul>
          </div>

          <div class="column-out">
            <ul *ngFor="let domaine of domaine2">
              <li>
                <mat-radio-button value="{{domaine}}">{{domaine}}</mat-radio-button>
              </li>
            </ul>
          </div>
        </div>
      </mat-radio-group>

      <mat-error *ngIf="secteur.hasError('required') && submittedFormNext">
        Le secteur est <strong>obligatoire</strong>
      </mat-error>

      <br>
      <label>Pays</label>
      <mat-select placeholder="Pays" formControlName="lieu" name="pays">
        <mat-option *ngFor="let state of states" [value]="state.name">
          <img style="vertical-align:middle;" [src]="state.flag" height="25"/>
          <span>{{ state.name }}</span>
        </mat-option>
      </mat-select>

      <mat-error *ngIf="lieu.hasError('required') && submittedFormNext">
        Le lieu est <strong>obligatoire</strong>
      </mat-error>

      <br>
      <label>Description de l'offre</label>
      <textarea matInput rows="14" [maxlength]="descriptionMaxLength" formControlName="description" placeholder="Description de l'offre"></textarea>

      <div [ngStyle]="{'text-align': 'right'}">
        <mat-hint>{{description.value?.length || 0}}/{{descriptionMaxLength}}</mat-hint>
      </div>
      <mat-error *ngIf="description.hasError('required') && submittedFormNext">
        La description est <strong>obligatoire</strong>
      </mat-error>

      <mat-error *ngIf="description.errors?.minlength">
        La description doit avoir au moins <strong>{{descriptionMinLength}} caractères</strong>
      </mat-error>

      <div>
        <button style="float: right;" mat-button matStepperNext (click)="submittedFormNext=true">Suivant</button>
        <button style="float: right;" mat-button matStepperPrevious>Précédent</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="paimentForm">
    <form [formGroup]="paimentForm">
      <ng-template matStepLabel>Paiement</ng-template>
      <!--FORMULAIRE DE PAYEMENT-->

      <div>
        <button style="float: right;" type="submit" mat-raised-button color="primary" [disabled]="!detailOffreForm.valid ||
        !descriptionOffreForm.valid" (click)="creerOffre()">Confirmation</button>
        <button style="float: right;" mat-button (click)="stepper.reset(); resetSelectSkills()">Annuler</button>
        <button style="float: right;" mat-button matStepperPrevious>Précédent</button>
      </div>
    </form>

  </mat-step>
</mat-horizontal-stepper>
