 /* Set a style for the submit button */
  #submit-button {
    background-color: #0B2161;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0% !important;
    width: 100%;
    opacity: 0.9;
  }
  
  input {
    border-radius: 0% !important;
  }

  .btn:hover {
    opacity: 1;
  }

  button:disabled, button[disabled]{
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
}

form {
  padding-bottom: 10%;
}

button {
  padding: 6px 15px !important;
}

.container {
 width: 50%
}

.row-layout {
  background-color: #FFF;
  display: flex;
}

.column-one {
  flex: 1;
  order: 1;
  margin-right: 1%;
}

.column-two {
  flex: 1;
  order: 2;
  margin-left: 1%;
}

.column-single {
  flex: 1;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}