<div class="container" align="center">
  <div id="topbar">
    <h1> Laissez les jobs vous chasser </h1>
  </div>

  <!-- FORMULAIRE DE RECHERCHE-->
  <form>
    <div class="search-form">
      <div class="column-search-form">
        <input type="text" matInput class="taille-champs" placeholder="Quoi ? Java, Angular, ..." [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
            <span>{{ state.name }}</span> |
            <small>Population: {{state.name}}</small>
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="column-search-form">
        <mat-select placeholder="Pays" class="taille-champs">
          <mat-option *ngFor="let state of states" [value]="state.name">
            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25"/>
            {{ state.name }}
          </mat-option>
        </mat-select>
      </div>
      <div class="column-search-form">
        <input type="text" class="taille-champs" placeholder="Où ? Ville, Pays">
      </div>
    </div>

    <!-- PLACEMENT DU BUTTON RECHERCHER -->
    <div class="search-form">
      <div class="column-search-form"></div>
      <div class="column-search-form">
        <button class="button-search button-principal-color" mat-button routerLink="/offres">Rechercher</button>
      </div>
      <div class="column-search-form"></div>
    </div>
  </form>

  <!--POSITIONNEMENT DE LA CAROUSSELLE CONTENANT LES ENTREPRISES-->
  <div class="entreprise-carousel">
    <h2>... Entreprises ....</h2>
    <ngx-carousel [inputs]="countryCarousel" (carouselLoad)="carouselTile()">
      <ngx-tile NgxCarouselItem *ngFor="let tile of countryCarouselItems; let i = index;">
          <div class="image-tile" [style.background]="'url(' + tile + ')'">
            <h1>{{i}}</h1>
          </div>
          <h4>Nom</h4>
          <p>À VOIR</p>
      </ngx-tile>

      <button mat-mini-fab  NgxCarouselPrev class="button-left button-principal-color">
        <mat-icon >chevron_left</mat-icon>
      </button>

      <button mat-mini-fab  NgxCarouselNext class="button-right button-principal-color">
        <mat-icon >chevron_right</mat-icon>
      </button>
    </ngx-carousel>
  </div>
</div>

